name: Caller Workflow
on: workflow_dispatch
jobs:
  call-workflow:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/01-building-blocks.yml
    secrets: inherit